{% for message in messages %}
  {% if message.is_my_message %}
    <div class="chat-content-rightside">
      <div class="d-flex ms-auto">
        <div class="flex-grow-1">
          <p class="mb-0 chat-time text-end">{{ message.date }}</p>
          <p class="chat-right-msg">{{ message.message }}</p>
        </div>
      </div>
    </div>
  {% else %}
    <div class="chat-content-leftside">
      <div class="d-flex">
        <div class="flex-grow-1">
          <p class="mb-0 chat-time">{{ message.date }}</p>
          <p class="chat-left-msg">{{ message.message }}</p>
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}
