<div id="rocket-chat" class="chat-wrapper">
  <!--start chat sidebar-->
  <div class="chat-sidebar">
    <div class="chat-sidebar-header">
      <div class="d-flex align-items-center">
        <div class="chat-user-online">
          <img src="/themes/custom/synadmin/assets/images/avatars/avatar-anonymous.png" width="45" height="45" class="rounded-circle" alt="" />
        </div>
        <div class="flex-grow-1 ms-2">
          <p class="mb-0">{{ user_name }}</p>
        </div>
      </div>
      <div class="mb-3"></div>
      <div class="input-group input-group-sm"> <span class="input-group-text bg-transparent"><i class='bx bx-search'></i></span>
        <input type="text" class="form-control" placeholder="Search people...">
      </div>
    </div>

    <div class="chat-sidebar-content">
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-Chats">
          <div id="rocket-chat-list" class="chat-list">
          {% for user in users %}
            <div class="list-group list-group-flush">
              <a href="{{ user.chat_url }}" class="list-group-item {{ user.is_current_chat ? 'active' }}">
                <div class="d-flex">
                  <div class="chat-user{{ user.is_online ? '-online' }}">
                    <img src="/themes/custom/synadmin/assets/images/avatars/avatar-anonymous.png" width="42" height="42" class="rounded-circle" alt="" />
                  </div>
                  <div class="flex-grow-1 ms-2">
                    <h6 class="mb-0 chat-title">{{ user.name }}</h6>
                    {% if user.last_message %}
                      <p class="mb-0 chat-msg">{{ user.last_message.message }}</p>
                    {% endif %}
                  </div>
                  {% if user.last_message %}
                    <div class="chat-time">{{ user.last_message.time }}</div>
                  {% endif %}
                </div>
              </a>
            </div>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end chat sidebar-->

  <!--start chat header-->
  <div class="chat-header d-flex align-items-center">
    <div class="chat-toggle-btn"><i class='bx bx-menu-alt-left'></i></div>
    {% if current_buddy_name %}
      <div>
        <h4 class="mb-1 font-weight-bold">{{ current_buddy_name }}</h4>
      </div>
    {% endif %}
  </div>
  <!--end chat header-->

  <!--start chat content-->
  <div id="rocket-chat-messages" class="chat-content">
    {{ messages }}
  </div>
  <!--end chat content-->

  <!--start chat footer-->
  <div class="chat-footer d-flex align-items-center">
    {% if current_buddy_name %}
      <div class="flex-grow-1 pe-2">
        <div class="input-group">
          <input id="rocket-chat-message-box" type="text" class="form-control" placeholder="{{ 'Type a message...'|t }}">
        </div>
      </div>
      <div class="chat-footer-menu">
        <a href="javascript:;" id="rocket-chat-send-button"><i class="bx bx-send"></i></a>
      </div>
    {% endif %}
  </div>
  <!--end chat footer-->

  <!--start chat overlay-->
  <div class="overlay chat-toggle-btn-mobile"></div>
  <!--end chat overlay-->
</div>
